* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.inter {
    font-family: "Inter", sans-serif;
    font-style: normal;
}

/* Shared Styles */
.btn {
    border: none;
    color: rgba(255, 255, 255, 1);
    font-family: Inter;
    font-size: 16px;
    font-weight: 600;
    padding: 12px 16px;
    border-radius: 4px;
    background-color: rgba(70, 145, 101, 1);
    cursor: pointer;
}

.btn:hover {
    background-color: rgb(108, 157, 55);
}



/*Header Styles */
nav {
    /* border: 1px solid black; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 110px;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 30px;
}

nav ul li a {
    text-decoration: none;
    color: black;
    font-weight: 500;
    font-size: 16px;
    opacity: 0.8;
}

nav a:hover {
    text-decoration: line-through;
}


.hero {
    background-image: url(../assets/hero-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 674px;
}

.hero .banner .early-access a {
    text-decoration: none;
    color: white;
    font-size: 16px;
    font-weight: 500;
    color: rgba(70, 145, 101, 1);
    padding: 8px 12px 8px 12px;
    border-radius: 1000px;
    background: rgba(255, 255, 255, 1);
}

.banner-description h1 {
    width: 780px;
    margin: 20px auto;
    font-size: 62px;
    font-weight: 700;
    color:rgba(255, 255, 255, 1);
    opacity: 0.9;
}

.banner-description p{
color: rgba(255, 255, 255, 1);
font-size: 18px;
font-weight: 400;
width: 800px;
margin: 20px auto;
line-height: 34px;
 opacity: 0.9;
}


.btn-secondary{
    color: rgba(255, 255, 255, 1);
font-family: Inter;
font-style: Semi Bold;
font-size: 16px;
font-weight: 600;
border: 1px solid rgba(255, 255, 255, 1);
border-radius: 4px;
padding: 12px 16px 12px 16px;
background-color: transparent;
cursor: pointer;
margin-left: 15px;
}

.btn-secondary:hover{
    background-color: rgba(255, 255, 255, 0.2);
}