* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.inter {
    font-family: "Inter", sans-serif;
    font-style: normal;
}

/* Shared Styles */
.btn {
    border: none;
    color: rgba(255, 255, 255, 1);
    font-family: Inter;
    font-size: 16px;
    font-weight: 600;
    padding: 12px 16px;
    border-radius: 4px;
    background-color: rgba(70, 145, 101, 1);
    cursor: pointer;
}

.btn:hover {
    background-color: rgb(108, 157, 55);
}

.container {
    max-width: 1260px;
    margin: 0 auto;
}



/*Header Styles */
nav {
    /* border: 1px solid black; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 110px;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 30px;
}

nav ul li a {
    text-decoration: none;
    color: black;
    font-weight: 500;
    font-size: 16px;
    opacity: 0.8;
}

nav a:hover {
    text-decoration: line-through;
}



/* Hero Section */
.hero {
    background-image: url(../assets/hero-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 674px;
}

.early-access {
    border: 2px solid wheat;
    display: inline;
    padding: 8px 12px 8px 12px;
    border-radius: 1000px;
    background: rgba(255, 255, 255, 1);
    border: none;

}

.early-access a {
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
    color: #3d835d;
}


.dot {
    width: 11px;
    height: 11px;
    border-radius: 50%;
    display: inline-block;
    margin: 0px 6px 0px 6px;
    background: radial-gradient(circle, #3d835d 30%, #a7d9bb 35%, #c6e9d3 100%);
    box-shadow: 0 0 0 4px rgba(74, 158, 112, 0.2);
}

.banner-description h1 {
    width: 780px;
    margin: 20px auto;
    font-size: 62px;
    font-weight: 700;
    color: rgba(255, 255, 255, 1);
    opacity: 0.9;
}

.banner-description p {
    color: rgba(255, 255, 255, 1);
    font-size: 18px;
    font-weight: 400;
    width: 800px;
    margin: 20px auto;
    line-height: 34px;
    opacity: 0.9;
}


.btn-secondary {
    color: rgba(255, 255, 255, 1);
    font-family: Inter;
    font-style: Semi Bold;
    font-size: 16px;
    font-weight: 600;
    border: 1px solid rgba(255, 255, 255, 1);
    border-radius: 4px;
    padding: 12px 16px 12px 16px;
    background-color: transparent;
    cursor: pointer;
    margin-left: 15px;
}

.btn-secondary:hover {
    background-color: rgba(255, 255, 255, 0.2);
}




/* Features Section */

#cards {
    background-color: rgb(253, 252, 249);
    overflow: hidden;
    max-height: 478px;
}



.card-conatiner h2 {
    font-size: 48px;
    font-weight: 700;
    color: rgba(0, 25, 49, 1);
    margin-bottom: 15px;
    padding-top: 50px;

}

.card-conatiner p {
    font-size: 16px;
    font-weight: 400;
    color: rgba(98, 115, 130, 1);
    margin-bottom: 45px;
}

.cards-container {
    display: flex;
    gap: 30px;
    justify-content: center;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.06);
    padding: 60px 24px;
}

.card-img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(249, 85, 85, 1);
    margin-bottom: 16px;

}

.card h4 {
    font-size: 24px;
    font-weight: 600;
    line-height: 29px;
    color: rgba(0, 25, 49, 1);
    margin: 16px 24px;
}


/* Solution Styles */
#solution {
    margin: 100px 0;
}

.solution-conatiner {
    display: flex;
    align-items: center;
    gap: 60px;
}

.solution-image {
    width: 1400px;
    height: 600px;
}

.solution-image img {
    width: 100%;
    height: 100%;
    border-radius: 10px;
}



.solution-content .solution-title {
    font-size: 18px;
    font-weight: 500;
    color: rgba(70, 145, 101, 1);
    margin-bottom: 16px;
}

.solution-content h3 {
    font-size: 48px;
    font-weight: 700;
    line-height: 58px;
    color: rgba(0, 25, 49, 1);
    margin-bottom: 16px;
}

.solution-content .solution-description {
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    color: rgba(98, 115, 130, 1);
    opacity: 0.7;
    margin-bottom: 30px;
}

.check {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 16px;
    font-size: 16px;
    font-weight: 500;
    line-height: 20px;
}



/* Early Access Styles */
#early-access {
    text-align: center;
    margin-bottom: 100px;
}

.early-access-container {
    border-radius: 12px;
    background: rgba(247, 246, 242, 1);
    padding: 50px 30px;
}

.early-access-container h3 {
    font-size: 40px;
    font-weight: 700;
    line-height: 48px;
    color: rgba(0, 25, 49, 1);
    margin: 40px 0 16px 0;
}

.early-access-container p {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: rgba(98, 115, 130, 1);
    margin-bottom: 24px;
}

.early-access-btn {
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    margin-bottom: 26px;

}



/* Footer styles */

#footer {
    background-color: rgba(0, 25, 49, 1);
    padding: 120px 120px 30px;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    color: rgba(255, 255, 255, 1);
    padding: 0 0 80px;
}

.footer-container .social-links a {
    margin-right: 5px;
}

#footer p {
    font-size: 16px;
    font-weight: 400;
    color: rgba(250, 250, 250, 1);
    text-align: center;
}

#footer hr {
    border: 0.5px solid rgba(255, 255, 255, 0.2);
    margin-bottom: 30px;
    color: rgba(229, 231, 235, 1);
    opacity: 0.2;
}