* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.inter {
    font-family: "Inter", sans-serif;
    font-style: normal;
}

/* Shared Styles */
.btn {
    border: none;
    color: rgba(255, 255, 255, 1);
    font-family: Inter;
    font-size: 16px;
    font-weight: 600;
    padding: 12px 16px;
    border-radius: 4px;
    background-color: rgba(70, 145, 101, 1);
    cursor: pointer;
}

.btn:hover {
    background-color: rgb(108, 157, 55);
}

.container{
    max-width: 1260px;
    margin: 0 auto;
}



/*Header Styles */
nav {
    /* border: 1px solid black; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 110px;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 30px;
}

nav ul li a {
    text-decoration: none;
    color: black;
    font-weight: 500;
    font-size: 16px;
    opacity: 0.8;
}

nav a:hover {
    text-decoration: line-through;
}


.hero {
    background-image: url(../assets/hero-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 674px;
}

.hero .banner .early-access a {
    text-decoration: none;
    color: white;
    font-size: 16px;
    font-weight: 500;
    color: rgba(70, 145, 101, 1);
    padding: 8px 12px 8px 12px;
    border-radius: 1000px;
    background: rgba(255, 255, 255, 1);
}

.banner-description h1 {
    width: 780px;
    margin: 20px auto;
    font-size: 62px;
    font-weight: 700;
    color:rgba(255, 255, 255, 1);
    opacity: 0.9;
}

.banner-description p{
color: rgba(255, 255, 255, 1);
font-size: 18px;
font-weight: 400;
width: 800px;
margin: 20px auto;
line-height: 34px;
 opacity: 0.9;
}


.btn-secondary{
    color: rgba(255, 255, 255, 1);
font-family: Inter;
font-style: Semi Bold;
font-size: 16px;
font-weight: 600;
border: 1px solid rgba(255, 255, 255, 1);
border-radius: 4px;
padding: 12px 16px 12px 16px;
background-color: transparent;
cursor: pointer;
margin-left: 15px;
}

.btn-secondary:hover{
    background-color: rgba(255, 255, 255, 0.2);
}


/* Features Section */

#cards{
   border: 5px solid red;
   background-color: rgb(243, 243, 243);
}

.card-container{
    border: 5px solid blue;
}

.card-container .card-headings{
    text-align: center;
    padding: 30px 0 20px 0;
}

.card-headings h2{
    font-size: 36px;
    font-weight: bold;
    color: rgba(0, 0, 0, 1);
    margin-bottom: 15px;
}

.card-headings p{
    font-size: 12px;
    font-weight: 400;
    color: rgba(98, 115, 130, 1);
    }

.card{
}
   


.card .card-image{
    /* border: 3px solid green; */
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
height: 50px;
background-color: rgb(254, 68, 68);
border-radius: 50%;
}

#solution{
    margin: 100px 0;
}
.solution-conatiner{
    display: flex;
    align-items: center;
    gap: 60px;
}

.solution-image{
    width: 1400px;
height: 600px;
}

.solution-image img{
    width: 100%;
    height: 100%;
    border-radius: 10px;
}



.solution-content .solution-title{
    font-size: 18px;
    font-weight: 500;
    color: rgba(70, 145, 101, 1);
    margin-bottom: 16px;
}

.solution-content h3{
font-size: 48px;
font-weight: 700;
line-height: 58px;
color: rgba(0, 25, 49, 1);
    margin-bottom: 16px;
}

.solution-content .solution-description{
    font-size: 16px;
font-weight: 400;
line-height: 20px;
    color: rgba(98, 115, 130, 1);
    opacity: 0.7;
    margin-bottom: 30px;
}

.check{
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 16px;
    font-size: 16px;
font-weight: 500;
line-height: 20px;
}



